<h1>{{title}}</h1>
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
	<a href="#subject/{{item.id}}" class="list-group-item" ng-repeat="item in subjects">
		<span class="badge">{{item.rating.average}}</span>
		<div class="media">
			<div class="media-left">
				<img ng-src="{{item.images.small}}" alt="{{item.title}}" height="128px">
			</div>
			<div class="media-body">
				<h3 class="media-heading">{{item.title}}</h3>
				<p>导演:
					<span ng-repeat="director in item.directors">{{director.name}}
						<span ng-if="!$last">、</span>
					</span>
				</p>
				<p>主演：<span ng-repeat="cast in item.casts">{{cast.name}}{{$last?"":"、"}}</span></p>
				<!--<p>类型:<span ng-repeat="genre in item.genres">{{genre}}</span></p>-->
				<p>类型：<span>{{item.genres.join('、')}}</span></p>
			</div>
		</div>
	</a>
</div>
<div ng-show="!loading">
	<nav>
		<ul class="pager">
			<li ng-class="{disabled:currentPage==1}"><a ng-click="goPage(currentPage-1)">上一页</a></li>
			<li ng-class="{disabled:currentPage==pageCount}"><a ng-click="goPage(currentPage+1)">下一页</a></li>
		</ul>
	</nav>
	<p>总共: {{totalCount}}条记录  第{{currentPage}}/{{pageCount}} 页</p>
</div>
<div class="loading" ng-show="loading">
	<div class="sk-chasing-dots">
		<div class="sk-child sk-dot1"></div>
		<div class="sk-child sk-dot2"></div>
	</div>
</div>



